body {
  margin: 0;
  background-color: #063200;
  font-family: var(--fonteSuse);
}
:root{
  --fonteSuse: "SUSE", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
